.about_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaryColor;
    margin-bottom: 2rem;

    h1 {
        border-bottom: 2px solid;
        width: min-content;


    }
}

.about_img {
    img {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    img:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
}

// .about_counter {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .counter {
//         font-size: 2rem;
//         font-weight: 500;
//         color: #0a2b1e;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }

.about_content {
    text-align: justify;
    text-justify: inter-word;
}


.count_tittle {
    font-size: 1rem;
    font-weight: 400;
    color: #0a2b1e;
}