.bgLogin {
    background-color: $secondary;
    height: 100vh;

    .card {
        // box-shadow: $primary 0px 1px 5px 0px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, $primary 0px 0px 0px 1px;
    }

    .login-form {
        // width: 400px;



        .card-title {
            color: $primary;
        }


        .form-control:focus {
            border-color: $primary;
            box-shadow: 0 0 0 0.1rem $primary;
        }

        .backToHomeDiv {

            .backToHomeLink:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }

    form {
        padding: 1rem;
    }

}