.contactBg {
    margin-top: 5rem;
    background-color: $light;
    width: 100%;
    margin-top: 5rem !important;
    // margin-bottom: 5rem !important;
    height: auto;

    .card {
        width: 100%;
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;

        .form-floating {
            margin-top: 2rem;

            .form-control:focus {
                border-color: $primary;
                box-shadow: 0 0 0 0.1rem $primary;
            }

            .error-msg {
                margin: 0;
                padding: 0%;
                color: red;
            }
        }

        .send_btn {
            display: flex;
            align-items: center;
            justify-content: center !important;
            margin: 2rem 0 2rem;
        }

        .send_btn:hover {
            i {
                color: $primary;
            }
        }
    }


}

.startJourneyHeading {
    color: $primary !important;
}



.checkRoundedCircle {
    width: 24px;
    height: 24px;
    background-color: $primary;
}

.registerLink {
    text-decoration: none;
    color: $background;
}


.registerBtn:hover {
    color: $primary !important;
    background-color: $accent !important;
}