.bgDashboard {
    // width: 100%;
    min-height: 100vh !important;
    background-color: $secondary;

    .spinner {
        color: $primary;
    }

    .container {
        nav {
            width: 100%;
            .navbar-nav {
                .nav-item {
                    .badgeButton {
                        color: $background;
                        background-color: $primary;
                        font-weight: 500;
                        // padding: 15px, 15px !important;

                    }
                }
            }
        }
    }

    .container {
        .navbar {
            background: $background;

            h2 {
                color: $primary;
                font-weight: bold;
                text-align: center !important;
            }

            .navbar-nav {
                .nav-item {
                    h6 {
                        font-size: 1.7rem;
                    }

                    .btnBadge {
                        color: $background;
                        background-color: $primary;
                        font-weight: 500;
                        padding: 12px, 20px;
                        text-decoration: none !important;
                        border: none;
                    }
                }
            }
        }

    }

    .form-select:focus,
    .form-control:focus {
        border-color: $primary;
        box-shadow: 0 0 0 0.1rem $primary;
    }

    .modal-header {
        background: $primary;

    }

    .card {
        .card-header {
            background: $primary;
        }
    }

    .textAndLoader {
        color: $primary;
    }

    .studentInfo {
        .studentName {
            color: $primary;
        }
    }

}