header {
    width: 100%;
    line-height: 80px;
    background-color: #fff;

    .nav_list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        // column-gap: 1.3rem;

        a {
            font-weight: 600;
            font-size: 1.2rem;
            color: #0a2b1e;
            text-decoration: none;
            transition: 0.3s;

        }

        a:hover {
            color: $primaryColor;
            transition: 0.4s;
        }
    }
}


.nav-right i {
    font-size: 1.3rem;
}

.mobile_menu {
    display: none;

}


@media only screen and (max-width:991px) {
    .nav_menu {
        position: fixed;
        top: 0;
        left: 0;
        background: #0a2b1eb2;
        width: 100%;
        height: 100% !important;
        z-index: 99;
        display: none;
    }

    .nav_list {
        position: absolute;
        background-color: #fff !important;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
        padding-top: 80px !important;
    }

    .mobile_menu {
        display: block;

    }

    .nav_right {
        display: none;
    }

    .active_menu {
        display: block;
    }


}



.freeTrailBtn {
    text-decoration: none;
    color: $whiteColor;
}

.exploreCourseBtn {
    text-decoration: none;
    color: $whiteColor;
}