.header {
    width: 100%;
    line-height: 60px;
    background-color: #fff;

    .logo {
        h2 {
            font-size: 26px;
        }
    }

    .nav_list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;


        a {
            font-weight: 600;
            font-size: 22px;
            color: $foreground;
            text-decoration: none;
            transition: 0.3s;

        }

        a:hover {
            color: $primary;
            transition: 0.4s;
        }
    }
}


.nav-right i {
    font-size: 1.3rem;
}

.mobile_menu {
    display: none;

}


@media only screen and (max-width:991px) {
    .nav_menu {
        position: fixed;
        top: 0;
        right: 0;
        background: #2b1c0ab2;
        width: 100%;
        height: 100% !important;
        z-index: 99;
        display: none;
    }

    .header {
        .logo {
            h2 {
                font-size: 22px;
            }
        }
    }

    .nav_list {
        position: absolute;
        background-color: #fff !important;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .mobile_menu {
        display: block;

    }

    .nav_right {
        display: none;
    }

    .active_menu {
        display: block;
    }


}