.hero_contant {
  span,
  i {
    color: #fff;
  }

  .type-p {
    color: #6c757d;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    text-justify: distribute-all-lines;
  }
}
