.news_Letter {
    background-color: $primaryColor;
    color: #fff;
    padding: 60px;
    border-radius: 15px;
}

.subscribe {
    padding: 7px 10px;
    background-color: #fff;
    width: 45%;
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        border: none;
        outline: none;
    }
}