.bg_Color {
    background-color: $light;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    .card {
        margin-top: 7rem !important;
        margin-bottom: 5rem !important;
        // width: 80%;
        height: auto;
        margin: 0 auto;

        .contactHadding {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary;

            h1 {
                text-align: center;

            }
        }

        .card-body {
            margin: 0 auto;
            // width: 80%;


            .form-floating {
                margin-top: 1rem;

                .form-control:focus {
                    border-color: $primary;
                    box-shadow: 0 0 0 0.1rem $primary;
                }

                .form-select:focus {
                    border-color: $primary;
                    box-shadow: 0 0 0 0.1rem $primary;
                }

                .error-msg {
                    margin: 0;
                    padding: 0%;
                    color: red;
                }
            }

            .register_btn {
                display: flex;
                align-items: center;
                justify-content: center !important;
                margin: 2rem 0 2rem;
            }
        }

        .back_to_home {
            padding: 2rem;
            margin-bottom: 0;

            i {
                font-size: 1.2rem;
            }

            .back_to_home_link {
                color: $primary;
            }
        }
    }
}

@media only screen and (min-width: 500px) {

    .card {
        width: 70%;
    }
}

// @media only screen and (max-width: 1200) {

//     .card {
//         width: 70%;
//     }

// }