.testimonialsDiv {

    .testimonialCol {
        width: 100%;
    }

    .rating {
        color: #F4A024; // Gold color, commonly used for rating stars
        font-size: 2rem;
        line-height: 1;

    }

    .testimonial_content {
        word-spacing: 0.2em;
        line-height: 1.5em;


        .text::before {
            content: "“"; // left double quotation mark
            font-family: sans-serif;
            color: $primary;
            font-size: 2rem;
            margin-right: 0.2em;
            vertical-align: top;
        }

        .text::after {
            content: "”"; // right double quotation mark
            font-family: sans-serif;
            color: $primary;
            font-size: 2rem;
            margin-left: 0.2em;
            vertical-align: bottom;
        }


        h4 {
            font-weight: 400;
            font-size: 1.4rem;
            margin-bottom: 0;
        }

    }


}

.rounded-circle {
    width: 80px;
    height: 80px;
    color: $background;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid $secondary;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px !important;
    line-height: 1 !important;
    opacity: .75 !important;
    color: $primary !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




.slick-dots {
    bottom: -40px;
}

.slick-dots li button:before {
    color: $primary !important;
    font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
    color: $primary;
}

.slick-prev,
.slick-next {
    z-index: 1 !important;
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}

.slick-prev:before,
.slick-next:before {
    color: $primary;
    font-size: 25px !important;
}

.testimonial-carousel {
    padding: 0 30px 50px 30px;
}

@media (max-width: 768px) {
    .testimonial-carousel {
        padding: 0 15px 50px 15px;
    }
}